.edit-box {
    border: 3px solid rgba(245, 245, 245, 0.698);
    width: 360px;
    margin: auto;
    height: 180px;
    margin-top: 20px;
    background: rgba(245, 245, 245, 0.698);
    /* box-shadow: 0px 7px 7px 0px; */
    border-radius: 5px;
    padding: 15px;
}

.edit-box #label {
    margin-top: 5px;
}

.edit-box #input {
    width: 100%;
    /* width: 200px; */
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
}

.edit-card {
    padding-bottom: 20px;
}

.edit-box #save {
    margin-left: 25%;
    width: 50%;
    margin-top: 10px;
    background-color: darkgray;
    font-weight: bold;
}