* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-container {
    position: relative;
    max-width: 400px;
    flex-grow: 1;
    margin: 0 20px;
    margin-top: 5px;
    margin-right: 125px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    padding-right: 10px;
    margin-right: 0;
}

.dropdown::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8), transparent);
    pointer-events: none;
    overflow: overlay;
}

.dropdown div {
    padding: 10px;
    cursor: pointer;
}

.dropdown div:hover {
    background-color: #f0f0f0;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.dropdown::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.add-friend-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.add-friend-button:hover {
    background-color: #45a049;
}

.pending-friend-button {
    background-color: #4899d2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.pending-friend-button:hover {
    background-color: #4899d2;
}